/*.container {
    text-align: center;
    margin-top: 50px;
  }
  */
  h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
  }
  
  p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 1rem;
    background-color: #23573d;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button:hover {
    background-color: #4d7a64;
  }
  